<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>
          Favoritos
          <ion-icon slot="end" name="star"></ion-icon>
        </h3>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div *ngFor="let categoria of favList ">
    <ion-grid *ngIf="categoria.pelis.length > 0">
      <ion-row>
        <ion-col>
          {{ categoria.genero  }}
        </ion-col>
      </ion-row>
    </ion-grid>

  <app-slideshow-poster [peliculas]="categoria.pelis"></app-slideshow-poster>


    
  </div>
  
</ion-content>

